@import url('https://fonts.googleapis.com/css?family=Montserrat');

.main {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
}

.list-side {
    width: 50%;
}

.profile-side {
    width: 50%;
}

.user-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 500px;
    margin: 3vh auto;
}

.list-head {
    background-color: #C5DFFF;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    color: black;
    border-radius: 8px 8px 0 0;
    background-color: rgba(17, 25, 40, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    height: 85vh;
    width: 100%;
    background-color: #ECECEC;
    /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); */
    background-color: rgba(17, 25, 40, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 0 10px 10px 10px;
    border-radius: 0 0 8px 8px;
}

.list::-webkit-scrollbar {
    display: none;
    background-color: #ECECEC;
    /* border-radius: 0 0 8px 8px; */
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #ECECEC;
}

.list-item {
    background-color: #ECECEC;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1vh auto;
    padding: 5px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
    width: 95%;
}

.list-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-item:hover {
    background-color: #D4D4D4;
    color: black
}

.list-item:focus {
    background-color: #D4D4D4;
}

.profile {
    width: 70%;
    max-width: 500px;
    margin: 3vh auto;
}

.user {
    height: 85vh;
    width: 100%;
    padding: 10px;
    background-color: #ECECEC;
    background-color: rgba(17, 25, 40, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
    gap: 2vh;
}

.user-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 2vh;
}

.username {
    font-size: 18px;
    font-weight: 600;
    /* margin-bottom: 2vh; */
}

.bio {
    /* text-align: center; */
    background-color: #DBDBDB;
    border: 1px solid #6C6C6C;
    border-radius: 4px;
    width: 70%;
    margin: 2vh auto;
    padding: 20px;
    /* height: 10vh; */
    font-weight: 500;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.name, .job, .email {
    background-color: #DBDBDB;
    border: 1px solid #6C6C6C;
    width: 70%;
    margin: 2vh auto;
    padding: 20px;
    border-radius: 4px;
    font-weight: 500;
    position: relative;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    color: white;
}

.box-header {
    position: absolute;
    top: -40%;
    font-size: 12px;
    color: aliceblue;
}

.no-data {
    opacity: 85%;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 900;
}